.text {
  width: 620px;
  color: #ffffff;
  position: absolute;
  font-size: 24px;
  font-family: 나눔명조;
  background-color: transparent;
  border: none;
}

.mainText {
  transform: translateX(-650px) translateY(15px);
}

.discriptionText {
  transform: translateX(-650px) translateY(414px);
  height: 380px;
  resize: none;
  overflow: hidden;
  line-height: 29px;
}

.itemImage {
  position: absolute;
  width: 100px;
  height: auto;
  transform: translateX(-400px) translateY(200px);
}
